@import '~/assets/styles/normalize.css';
@import '~/assets/styles/markdown.scss';

html {
    font-size: 16px;
    font-family: 'Fira Code';
    background-color: $color-bg-dark;
    color: $color-text;
}

body {
    padding: 0 1rem;
}

a {
    color: $color-accent-strong;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.normal-page {
    max-width: 80rem;
    margin: 0 auto;
}

.section-card {
    background-color: $color-bg-light;
    border-radius: 0.5rem;
    padding: .75rem 1.5rem;
    min-height: 2rem;

    .section-title {
        font-size: 1.5rem;
        margin: .25rem 0;
        color: $color-text-strong;
    }

    .section-summary {
        font-size: 1rem;
        margin: .25rem 0;
    
    }
}

.strong-text {
    color: $color-text-strong;
}